$content-fontcolor: #333;
$content-bgcolor:#f1f1f1;
$content-notice-fontcolor:#777;
$search-bgColor:#f5f5f5;
$search-fontColor:#B7B7B7;
$hightlight-fontColor:#E93B3B;
$light-fontColor: #999;
$medium-fontColor: #666;
$btnColor:#0091FF;
$bgColor: #fff
